<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Inspection Copy</title>
    <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
    <style>
        <style>
        h2 {
            font-size: 1.5rem;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            color: #5c5c5c;
        }
        table thead tr th {
            padding: 10px 5px;
            background: #ebebeb;
            font-size: 17px;
            font-weight: normal;
            color: #222222;
            text-align: left;
        }
        table tbody tr{
            text-align: left;
        }
        table caption {
            background: transparent;
            color: #222222;
            font-size: 0.88889rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
        }
        table {
            border-spacing: 0;
            border: 1px solid #e2e2e2;
        }

        table {
            background: white;
            margin-bottom: 1.11111rem;
            table-layout: auto;
            width: 100%;
            text-align: center;
        }
        .verticalPadding {
            padding-top: 50px;
            margin: auto;
            width: 90%;
            max-width: 1260px;
        }
        .logo-container{
            display: inline-flex;
            vertical-align: middle;
        }
        img{
            margin-top: 25px;
            margin-right: 30px;
            height: 20px;
        }
    </style>
</head>
<body>
<!-- Page Content -->
<div class="container verticalPadding">

    <div class="row">
        <div class="logo-container">
            <a href="{{ url('main') }}">
                <img src="{{ asset('assets/img/logoElsevier.png') }}" alt="">
            </a>
            <h2>SaleLogix Webservices status</h2>
        </div>
        <div class="col-lg-12">

            <table class="table">
                <thead>
                <tr>
                    <th width="20%">WebService</th>
                    <th width="20%">Parameters</th>
                    <th width="60%">Response</th>
                </tr>
                </thead>
                <tbody>
                {% for webService in webServices %}
                    <tr>
                        <td>{{ webService.identifier }}</td>
                        <td>{{ array_to_string(webService.query)|raw }}</td>
                        <td>{{ dumper(webService.response|json_decode) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.col-lg-9 -->
    </div>
</div>
<!-- /.container -->
</body>
</html>