<div class="review-courses-info-modal modal lightbox">
    <div class="modal-dialog" role="document">
        <div class="close"></div>
        <div class="modal-container scroll1 modal-content">
            <div class="row">
                <div class="popup-title">{{ 'book.review.course_details.title'|trans }}</div>
                <h3 id="book-name"></h3>
                <small id="book-authors"></small>
                <h3 id="confirmed-title" class="columns p-0" data-msg="{{ 'book.review.courses_details.confirmed_for'|trans }}"
                    data-msg-one="{{ 'book.review.courses_details.confirmed_for_one'|trans }}">
                </h3>
                <div id="confirmed-courses" class="columns p-0">

                </div>
                <h3 id="not-confirmed-title" class="columns p-0" data-msg="{{ 'book.review.courses_details.not_right_for'|trans }}"
                    data-msg-one="{{ 'book.review.courses_details.not_right_for_one'|trans }}" ></h3>
                <div id="not-confirmed-courses" class="columns p-0">

                </div>
            </div>
        </div>
    </div>
</div>