{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/page/profile/profile.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/page/profile/change-password.css') }}">
{% endblock %}
{% form_theme form '/parts/custom_form.html.twig' %}
{% block main_css %} page-reset {% endblock %}
{% block body %}
    <input type="hidden" id="page-title" value="profile: change-password">
    <div class="inner-wrap edit-account reset-password">
        <main role="main">
            <div class="block">
                <div class="row">
                    <div class="resetArea">
                        <!--menu profile section-->
                        <div class="menu-profile-mobile">
                            {% include '@UserBundle/profile/profile-menu.html.twig' with {'user' : user} %}
                        </div>
                            <div class="reset-large-12  form-container-pwd">
                                <p class="text warning-text"></p>
                                {{ form_start(form,{attr:{'action':url('change-password'),autocomplete:"off"}}) }}
                                <div class="form-register clearfix">
                                    <div class="desktop main-content-menu">
                                        <div class="main-menu-profile-container maincontainer">
                                            {% include '@UserBundle/profile/profile-menu.html.twig' with {'user' : user} %}
                                        <div class="column small-12 passNoPadding password-field reset-pwd-form">
                                            <div class="input-field">
                                                {{ form_label(form.oldPassword) }}
                                                {{ form_widget(form.oldPassword,{required:false,attr:{title:'validation.required'|trans}}) }}
                                                {{ form_errors(form.password) }}
                                                <span toggle="#change_password_form_oldPassword" class="eye-icon toggle-password"></span>
                                            </div>
                                            <div class="input-field">
                                                {{ form_label(form.password.first) }}
                                                {{ form_widget(form.password.first, {'attr' : {'data-error':'user.reset_password.error'|trans,autocomplete:"new-password",title:'validation.required'|trans},required:false}) }}
                                                <span toggle="#change_password_form_password_first" class="eye-icon toggle-password"></span>
                                                <div class="ps-st-meter-wrapper hide" data-strengthifyfor="p1">
                                                    <div class="ps-st-meter-bg"></div>
                                                    <div class="pwd-good " id="ps-st-meter-container"
                                                         style="width: 0;"></div>
                                                    <div class="ps-st-meter-separator" style="left: 25%;"></div>
                                                    <div class="ps-st-meter-separator" style="left: 50%;"></div>
                                                    <div class="ps-st-meter-separator" style="left: 75%;"></div>
                                                    <div class="ps-strength-text">
                                                        <span>{{ 'user.register.step1.bad'|trans }}</span>
                                                        <span>{{ 'user.register.step1.medium'|trans }}</span>
                                                        <span>{{ 'user.register.step1.good'|trans }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-field">
                                                {{ form_label(form.password.second) }}
                                                {{ form_widget(form.password.second,{required:false,attr:{title:'validation.required'|trans}}) }}
                                                {{ form_errors(form.password) }}
                                                <span toggle="#change_password_form_password_second" class="eye-icon toggle-password"></span>
                                            </div>
                                            <div class="input-field password-rule">
                                                {{ "user.reset_password.info"|trans }}
                                            </div>
                                            <div class="input-field small-12 medium-12 large-12 columns p-0" id="change-password-recaptcha">
                                                <div class="g-recaptcha" id="regRecaptcha" data-sitekey="{{ recaptchasite }}"></div>
                                            </div>
                                        <div class="btngroup column small-12">
                                            <div class="row passMarBottom">
                                                <button id="reset-account-pass-btn" class="btn btn-blue submit updatePassword">{{ "user.change_password.title"|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                    </div>
                    {% if isPasswordUpdated() %}
                        <div class="update-profile-cookie">
                            <div class="close-btn"></div>
                            <div class="validation-icon"></div>
                            <div class="cookies-content">
                                {{ "user.change_password.success"|trans }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/page/resetPassword/reset.min.js') }}"></script>
    <script src="{{ asset('assets/page/profile/menu-profile.min.js') }}"></script>
    <script src="{{ asset('assets/page/profile/profile.min.js') }}"></script>
{% endblock %}
